@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
/* main font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* logo font */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  --sb-track-color: #000517;
  --sb-thumb-color: #d31bff;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
